---
import Layout from "../../../layouts/Layout.astro";
import CV from "../../../components/react/CV";
const { slug } = Astro.params;
const token = import.meta.env.ACCESS_TOKEN;
const url = import.meta.env.API_URL;
---

<Layout title="CV">
  <div class="max-w-4xl mx-auto py-12">
    <div
      class="body-animate backdrop-blur-xl rounded-lg overflow-hidden shadow-2xl"
    >
      <CV url={url} token={token} slug={slug} client:load />
    </div>
  </div>
</Layout>

<style>
  .body-animate {
    background: linear-gradient(-45deg, #006d77, #8d99ae, #576b73, #457b9d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
