---
import Container from "./Container.astro";
---

<footer class="py-20 md:py-40">
  <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
    <div class="footer-content text-center">
      <p>&copy; 2024 Sajjad BN. All rights reserved.</p>
    </div>
  </div>
</footer>

<style>
  .footer {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust opacity as needed */
    backdrop-filter: blur(10px); /* Adjust blur intensity */
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  }

  .footer-content {
    text-align: center;
    font-size: 14px;
    color: #333; /* Adjust text color */
  }
</style>
